# Created by .ignore support plugin (hsz.mobi)


# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea
*.iml

# OS X
.DS_Store

**/*.pyc
*/__pycache__/
*.cpython-37.pyc
**/*.log
_test_notes
**/logs
zkclient/settings.py
*.keystore
env/src
vk.json
