# Created by .ignore support plugin (hsz.mobi)


# Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea
*.iml

# OS X
.DS_Store
*/__pycache__/*
python_web3/client/__pycache__/
*.pyc
__pycache__/
